<head>
  <link rel="stylesheet" href="style.css">
</head>
<p id="notice"><%= notice %></p>

<body>

<header>
<header>
    <h1>
        <a href="/">RICO NOTES</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">COMPANY</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>

</header>

<div class="tl">
<table>
  <thead>
    <tr class="column_name">
      <th>Picture</th>
      <th>Book</th>
      <th>Time</th>
      <th>Page</th>
      <th>Note</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= image_tag(study.picture_url,width:'50px') if study.picture.present? %></td>
        <td><%= study.book %></td>
        <td><%= study.time.to_s + '時間' %></td>
        <td><%= study.page.to_s + 'ページ' %></td>
        <td><%= study.note %></td>
        <td><%= study.published_at %></td>
        <td><%= link_to 'この記録を見る', study %></td>
        <td><%= link_to '編集', edit_study_path(study) %></td>
        <td><%= link_to '削除', study, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '記録する', new_study_path %>

</body>
