<head>
  <link rel="stylesheet" href="style.css">
  <style>
    body {
      background-color: rgb(231, 228, 225);
    }
    .study-post {
      display: flex;
      margin-bottom: 10px;
    }
    .tl {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body>
  <header>
    <h1>
      <a href="/">Study Tree</a>
    </h1>
    <nav class="pc-nav">
      <ul>
        <li><%= link_to '記録する', new_study_path %></li>
        <li><a href="#">本棚</a></li>
        <li><a href="#">目標</a></li>
        <li><a href="#">設定</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2 class="welcome-message">l085440さん！おかえりなさい</h1>
    <h2 id="tl_title">あなたのタイムライン</h2>
    <div class="tl">
      <% @studies.each do |study| %>
        <div class="study-post">
          <div class="image-container">
            <%= image_tag(study.picture_url, width: '125px') if study.picture.present? %>
          </div>
          <div class="text-container">
            <div id="book"><%= study.book %></div>
            <div id ="time"><%= study.time.to_s+ '時間' %></div>
            <div id="page"><%= study.page.to_s + 'ページ' %></div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </main>
</body>


<%# <div><%= study.book %></div> 
<%# <div><%= study.time.to_s + '時間' %></div> 
<%# <div><%= study.page.to_s + 'ページ' %></div> 
<%# <div><%= study.note %></div> 
<%# <div><%= study.published_at %></div> 
<%# <div><%= link_to 'show', study %></div> 

