<head>
  <link rel="stylesheet" href="style.css">
</head>
<p id="notice"><%= notice %></p>

<body>

<header>
<header>
    <h1>
        <a href="/">Study Tree</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><%= link_to '記録する', new_study_path %></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">COMPANY</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>

</header>

<div class="tl">
<table>
  <thead>
    <tr class="column_name">
      <th>Picture</th>
      <th>Book</th>
      <th>Time</th>
      <th>Page</th>
      <th>Note</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= image_tag(study.picture_url,width:'100px') if study.picture.present? %></td>
        <div id="samune">
        <td id="book"><%= study.book %></td>
        <div>
        <td><%= study.time.to_s + '時間' %></td>
        <td><%= study.page.to_s + 'ページ' %></td>
        </div>
        </div>
        <td><%= study.note %></td>
        <td><%= study.published_at %></td>
        <td><%= link_to 'show', study %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


</body>
