<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @study.book %>
</p>

<p>
  <strong>Time:</strong>
  <%= @study.time %>
</p>

<p>
  <strong>Page:</strong>
  <%= @study.page %>
</p>

<p>
  <strong>Note:</strong>
  <%= @study.note %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @study.published_at %>
</p>



<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>

<%= link_to '編集', edit_study_path(@study) %>
<%= link_to '削除', @study, method: :delete, data: { confirm: '本当に削除しますか？' } %>
